<% layout('./layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">Edit New</h1>
    <div class="col-6 offset-3">
        <form action="/news/<%= report._id %>?_method=PUT" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" id="title" class="form-control" name="report[title]" value="<%= report.title %>" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image</label>
                <input type="text" id="title" class="form-control" name="report[image]" value="<%= report.image %>" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">Description</label>
                <input type="text" id="title" class="form-control" name="report[description]" value="<%= report.description %>" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">Content</label>
                <textarea type="text" id="title" class="form-control" name="report[content]" required><%= report.content %></textarea>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Upload</button>
            </div>
        </form>
        <a href="/news">Back to News</a>
    </div>
</div>